Bernardino Payan ID: 9000684321 Email: b.payan8432@student.nu.edu

Micro Project 1

In [2]:
pwd

'/Users/bernardinopayan'

In [20]:
# import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
# Working directory:
DATA = Path('.')

In [23]:
# load the data
nasdaq_df = pd.read_csv(DATA / 'nasdq.csv')
# review first seven records
nasdaq_df.head(10)

,Date,Open,High,Low,Close,Volume,InterestRate,ExchangeRate,VIX,TEDSpread,EFFR,Gold,Oil
0,2010-01-04,6.640000,6.810000,6.633333,6.746667,6514500.0,0.11,1.4419,20.04,0.17,0.12,1117.699951,81.510002
1,2010-01-05,6.643333,6.773333,6.643333,6.766667,4445100.0,0.11,1.4402,19.35,0.18,0.12,1118.099976,81.769997
2,2010-01-06,6.733333,6.786667,6.720000,6.763333,7340100.0,0.11,1.4404,19.16,0.19,0.12,1135.900024,83.180000
3,2010-01-07,6.750000,6.766667,6.630000,6.673333,8498400.0,0.11,1.4314,19.06,0.20,0.10,1133.099976,82.660004
4,2010-01-08,6.676667,6.766667,6.626667,6.743333,4347600.0,0.11,1.4357,18.13,0.20,0.11,1138.199951,82.750000
5,2010-01-11,6.746667,6.800000,6.700000,6.760000,5364300.0,0.11,1.4536,17.55,0.21,0.11,1150.699951,82.519997
6,2010-01-12,6.720000,6.766667,6.606667,6.643333,5198400.0,0.11,1.4523,18.25,0.20,0.11,1128.900024,80.790001
7,2010-01-13,6.616667,6.716667,6.583333,6.706667,6831900.0,0.11,1.4492,17.85,0.19,0.11,1136.400024,79.650002
8,2010-01-14,6.673333,6.763333,6.643333,6.750000,4493700.0,0.11,1.4478,17.63,0.20,0.11,1142.599976,79.389999
9,2010-01-15,6.740000,6.800000,6.676667,6.720000,6981900.0,0.11,1.4376,17.91,0.19,0.12,1130.099976,78.000000

In [24]:
#data information
print(nasdaq_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3914 entries, 0 to 3913
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          3914 non-null   object
 1   Open          3914 non-null   float64
 2   High          3914 non-null   float64
 3   Low           3914 non-null   float64
 4   Close         3914 non-null   float64
 5   Volume        3914 non-null   float64
 6   InterestRate  3914 non-null   float64
 7   ExchangeRate  3914 non-null   float64
 8   VIX           3914 non-null   float64
 9   TEDSpread     3914 non-null   float64
 10  EFFR          3914 non-null   float64
 11  Gold          3914 non-null   float64
 12  Oil           3914 non-null   float64
dtypes: float64(12), object(1)
memory usage: 397.6+ KB
None

In [25]:
# data dimension
nasdaq_df.shape

(3914, 13)

In [26]:
# Check for missing values in the entire DataFrame
missing_values = nasdaq_df.isnull().sum()

print(missing_values)

Date            0
Open            0
High            0
Low             0
Close           0
Volume          0
InterestRate    0
ExchangeRate    0
VIX             0
TEDSpread       0
EFFR            0
Gold            0
Oil             0
dtype: int64

In [27]:
# variable dat types
nasdaq_df.dtypes

Date             object
Open            float64
High            float64
Low             float64
Close           float64
Volume          float64
InterestRate    float64
ExchangeRate    float64
VIX             float64
TEDSpread       float64
EFFR            float64
Gold            float64
Oil             float64
dtype: object

In [28]:
print(nasdaq_df.describe())

              Open         High          Low        Close        Volume  \
count  3914.000000  3914.000000  3914.000000  3914.000000  3.914000e+03
mean     29.218649    29.491567    28.943843    29.226927  3.708611e+06
std      19.669386    19.840919    19.486496    19.668668  3.035420e+06
min       5.820000     5.916667     5.726667     5.766667  5.754000e+05
25%      10.995000    11.101667    10.890000    11.024167  2.035875e+06
50%      23.708333    23.858334    23.575001    23.733334  2.834950e+06
75%      47.375001    47.807499    46.804999    47.330002  4.276500e+06
max      75.599998    75.680000    74.050003    75.239998  5.478960e+07

       InterestRate  ExchangeRate          VIX    TEDSpread         EFFR  \
count   3914.000000   3914.000000  3914.000000  3914.000000  3914.000000
mean       1.191165      1.191561    18.374990     0.241193     1.189384
std        1.686064      0.113733     6.965917     0.148833     1.684429
min        0.050000      0.961600     9.140000     0.060000     0.040000
25%        0.090000      1.100000    13.570000     0.130000     0.090000
50%        0.190000      1.159100    16.605000     0.210000     0.190000
75%        1.700000      1.295575    21.157500     0.320000     1.700000
max        5.330000      1.487500    82.690000     1.420000     5.330000

              Gold          Oil
count  3914.000000  3914.000000
mean   1531.077030    72.019456
std     330.904451    21.470288
min    1050.800049   -37.630001
25%    1257.425018    53.185000
50%    1422.049988    73.465000
75%    1778.574982    89.877499
max    2760.800049   123.699997

In [39]:
# Clean Data
# Check column names
print(nasdaq_df.columns)

# Clean column names of any whitespace
nasdaq_df.columns = nasdaq_df.columns.str.strip()

# Attempt to convert 'Date' column to datetime
if 'Date' in nasdaq_df.columns:
    nasdaq_df['Date'] = pd.to_datetime(nasdaq_df['Date'], errors='coerce')
else:
    print("Column 'Date' not found in DataFrame.")

# Check for NaT values after conversion
if nasdaq_df['Date'].isnull().any():
    print("Some date conversions failed. NaT (Not a Time) found in the Date column.")
    # Optionally drop these rows
    nasdaq_df.dropna(subset=['Date'], inplace=True)

# Remove duplicate rows, if any
nasdaq_df.drop_duplicates(inplace=True)

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'InterestRate',
       'ExchangeRate', 'VIX', 'TEDSpread', 'EFFR', 'Gold', 'Oil'],
      dtype='object')

In [40]:
# Check the DataFrame after cleaning
print(nasdaq_df.info())
print(nasdaq_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3914 entries, 0 to 3913
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          3914 non-null   datetime64[ns]
 1   Open          3914 non-null   float64
 2   High          3914 non-null   float64
 3   Low           3914 non-null   float64
 4   Close         3914 non-null   float64
 5   Volume        3914 non-null   float64
 6   InterestRate  3914 non-null   float64
 7   ExchangeRate  3914 non-null   float64
 8   VIX           3914 non-null   float64
 9   TEDSpread     3914 non-null   float64
 10  EFFR          3914 non-null   float64
 11  Gold          3914 non-null   float64
 12  Oil           3914 non-null   float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 397.6 KB
None
        Date      Open      High       Low     Close     Volume  InterestRate  \
0 2010-01-04  6.640000  6.810000  6.633333  6.746667  6514500.0          0.11
1 2010-01-05  6.643333  6.773333  6.643333  6.766667  4445100.0          0.11
2 2010-01-06  6.733333  6.786667  6.720000  6.763333  7340100.0          0.11
3 2010-01-07  6.750000  6.766667  6.630000  6.673333  8498400.0          0.11
4 2010-01-08  6.676667  6.766667  6.626667  6.743333  4347600.0          0.11

   ExchangeRate    VIX  TEDSpread  EFFR         Gold        Oil
0        1.4419  20.04       0.17  0.12  1117.699951  81.510002
1        1.4402  19.35       0.18  0.12  1118.099976  81.769997
2        1.4404  19.16       0.19  0.12  1135.900024  83.180000
3        1.4314  19.06       0.20  0.10  1133.099976  82.660004
4        1.4357  18.13       0.20  0.11  1138.199951  82.750000

In [42]:
# Check for potential ouliers
# Using IQR to detect outliers in the 'Close' column
Q1 = nasdaq_df['Close'].quantile(0.25)
Q3 = nasdaq_df['Close'].quantile(0.75)
IQR = Q3 - Q1
outlier_condition = ((nasdaq_df['Close'] < (Q1 - 1.5 * IQR)) | (nasdaq_df['Close'] > (Q3 + 1.5 * IQR)))

# Remove outliers based on the condition
nasdaq_df = nasdaq_df[~outlier_condition]

In [43]:
from sklearn.preprocessing import StandardScaler

# Normalize/Standardize certain features
scaler = StandardScaler()
numeric_columns = ['Open', 'High', 'Low', 'Close', 'Volume', 'InterestRate', 
                   'ExchangeRate', 'VIX', 'TEDSpread', 'EFFR', 'Gold', 'Oil']

nasdaq_df[numeric_columns] = scaler.fit_transform(nasdaq_df[numeric_columns])

In [46]:
# Create a new column for the daily return percentage
nasdaq_df['DailyReturn'] = nasdaq_df['Close'].pct_change() * 100

# Create moving averages
nasdaq_df['20_MA'] = nasdaq_df['Close'].rolling(window=20).mean()

# Check column names
print(nasdaq_df.columns)

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'InterestRate',
       'ExchangeRate', 'VIX', 'TEDSpread', 'EFFR', 'Gold', 'Oil',
       'DailyReturn', '20_MA'],
      dtype='object')